.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
    color: white;
}
.collapse {

    display:block;
}


.bg-faded li {
    display: block;
    padding: .5em 1em;
    border-radius: .25rem;
}
.navbar-toggler {
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
}

.greeting{
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #123165;
	background-color: white;


}
.greeting.img{
	height: 50px
}
.greeting.h1, h1 {
    font-size: 3.5rem;
      text-shadow: 2px 2px 8px #5172a9;
}
.bg-faded {
    background-color: #123165;
}
.jumbotron {
   background-image: url(../header-min.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   background-position:top left,center 0;
   color: white;
   height: 26.5625em;
   overflow-y: hidden;
    box-shadow: 0px 10px 10px 0px grey;
   
}


.words {
font-size: 20px;

}
.heading {
	margin-top: 235px;
	background-color: rgba(18,49,101,0.5);
	padding: 1.5em;
	width: inherit;
	margin-right: 0px;

}

a {
    color: white;
    text-decoration: none;
}
.nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    color: #123165;
    cursor: default;
    background-color: white;
    postion:relative;
}

.navbar-scrolled {
    position: fixed;
    padding: .5rem 1rem;
    width: 99.9%;
    z-index: 1500;
    left: 0;
    top: 0;
    margin: -5px;
}

footer {
  background-color: #6d9ae4;
}

.card-primary {
    background-color: #123165;
    border-color: #123165;
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
/*.serving{
  display: none;
}*/
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1024px) {
/* Styles */
/*.serving{
  display: none;
}*/
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
.serving{
  display: none;
}
.greeting.h1, h1 {
    font-size: 2.5rem;
      text-shadow: 2px 2px 8px #5172a9;

}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
h3{  
  font-size: 1rem;
}
h1.heading {
  font-size: 2rem;
}

.heading {
  margin-top: 235px;
  background-color: rgba(18,49,101,0.5);
  padding: 0em;
  width: inherit;
  margin-right: 0px;

}
}

/* iPhone 6 Portrait----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
.greeting.h1, h1 {
    font-size: 2.5rem;
      text-shadow: 2px 2px 8px #5172a9;

}

.navbar-toggler {
    padding: .5rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: white;
}
.heading {
  margin-top: 235px;
  background-color: rgba(18,49,101,0.5);
  padding: 1.5em;
  width: inherit;
  margin-right: 0px;

}

.nav-pills .nav-item+.nav-item {
    margin-left: .2rem;
    width: 100%;
}
.collapse li {
  display: none;
}
.collapse.in li {
  display: block;
}
}

/* iPhone 6 Landscape----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
h1{
  font-size: 2rem;
}
.greeting {
      text-shadow: 2px 2px 8px #5172a9;
       text-indent: 150px;
}
}


/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
h1{
  font-size: 2.5rem;
}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
.greeting{
  display: none;
}
h1{
  font-size: 2rem;
}


.nav-pills .nav-item+.nav-item {
    margin-left: .2rem;
    width: 100%;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
h1{
  font-size: 2rem;
}
}


@media only screen and (min-width:62em) and (max-width:75em) { 
  /* CSS rules here */
  h1{
  font-size: 2.9rem;
}
}